<div class="header">
  <div class="container">
    <a routerLink="/" class="header__brand">Recipely</a>
    <ul class="header__nav">
      <li class="header__nav-item">
        <a
          routerLink="/recipes"
          routerLinkActive="header__nav-link--is-active"
          class="header__nav-link"
          >Recipes</a
        >
      </li>
      <li class="header__nav-item">
        <a
          routerLink="/shopping-list"
          routerLinkActive="header__nav-link--is-active"
          class="header__nav-link"
          >Shopping List</a
        >
      </li>
    </ul>
    <ul class="header__utility">
      <li class="header__utility-item">
        <a href="#" class="header__utility-link">Manage</a>
        <ul class="header__utility-dropdown">
          <li class="header__utility-dropdown-item">
            <a href="#" class="header__utility-dropdown-link">Save</a>
          </li>
          <li class="header__utility-dropdown-item">
            <a href="#" class="header__utility-dropdown-link">Get</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
