<div class="header">
  <div class="container">
    <a routerLink="/" class="header__brand">Recipely</a>
    <ul class="header__nav">
      <li class="header__nav-item">
        <a
          routerLink="/recipes"
          routerLinkActive="header__nav-link--is-active"
          class="header__nav-link"
          >Recipes</a
        >
      </li>
      <li class="header__nav-item">
        <a
          routerLink="/shopping-list"
          routerLinkActive="header__nav-link--is-active"
          class="header__nav-link"
          >Shopping List</a
        >
      </li>
    </ul>
    <ul class="header__utility">
      <li class="header__utility-item">
        <a routerLink="auth" class="header__utility-link">Sign In</a>
      </li>
      <li class="header__utility-item">
        <button
          type="button"
          class="header__utility-link btn"
          (click)="onSaveData()"
        >
          Save Data
        </button>
      </li>
      <li class="header__utility-item">
        <button
          type="button"
          class="header__utility-link btn"
          (click)="onGetData()"
        >
          Get Data
        </button>
      </li>
    </ul>
  </div>
</div>
