<div class="recipe-detail">
  <img src="" alt="" class="recipe-detail__image" />
  <h2 class="recipe-detail__name">Recipe Detail</h2>
  <ul class="recipe-detail__actions">
    <li class="recipe-detail__action">
      <a class="recipe-detail__action-link" href="#">Something</a>
    </li>
    <li class="recipe-detail__action">
      <a class="recipe-detail__action-link" href="#">Something</a>
    </li>
    <li class="recipe-detail__action">
      <a class="recipe-detail__action-link" href="#">Something</a>
    </li>
  </ul>
  <div class="recipe-detail__description">Description</div>
  <ul class="recipe-detail__ingredients">
    <li class="recipe-detail__ingredient">10 of Ingredient</li>
    <li class="recipe-detail__ingredient">10 of Ingredient</li>
  </ul>
</div>
