<div class="recipes">
  <div class="row">
    <div class="col col--4">
      <div class="recipes__list">
        <h2 class="recipes__list-name">Recipes List</h2>
        <ul class="recipes__list-items">
          <li
            class="recipes__list-item"
            *ngFor="let recipe of recipes; let id = index"
          >
            <a [routerLink]="[id]" class="recipes__list-item-link">
              <app-recipe-item [recipe]="recipe"></app-recipe-item>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col col--8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
